name: Docker Build and Push CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Download code from Github repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push to Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: ./application
          push: true
          tags: ${{ secrets.DOCKER_USERNAME}}/test-provera:latest

      - name: Verify Docker Compose
        run: |
          docker compose -f ./application/docker-compose.yaml config
          echo "Docker Compose file is valid!"